.custom-carousel {
    display: block;
}

.movie-thumbnail {
    min-width: 10rem;
    max-width: 10rem;
    /* display: inline-flex;
    position: relative;
    flex-direction: column;
    white-space: normal;
    vertical-align: top;
    padding: 0px 2px;
    transition: transform 180ms ease-out 0s; */
}