.movie-thumbnail {
    min-width: 16.5%;
    max-width: 16.5%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    transition: transform 0.2s ease-in-out;
}

.movie-thumbnail:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}