body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background-color: #000;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-right {
    text-align: right;
}
  
.float-right {
    float: right;
}

.float-right > * {
    float: right;
}
  
.text-left {
    text-align: left;
}
  
.float-left {
    float: left;
}

.float-left > * {
    float: left ;
}

.w-100 {
    width: 100%;
}
  
.m-1 {
    margin: 0.33rem;
}

.m-2 {
    margin: 0.66rem;
}

.m-3 {
    margin: 1rem;
}

.mx-1 {
    margin-left: 0.33rem;
    margin-right: 0.33rem;
}

.mx-2 {
    margin-left: 0.66rem;
    margin-right: 0.66rem;
}

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mt-0 {
    margin-top: 0rem;
}

.mt-1 {
    margin-top: 0.33rem;
}

.mt-2 {
    margin-top: 0.66rem;
}

.mt-3 {
    margin-top: 1rem;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.position-abolute {
    position: absolute;
}

.mx-auto {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.border {
    border: 1px solid rgb(98, 99, 99);
    border-radius: 2px;
    padding: 0px 8px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-shrink: 0;
}

.secondary-text-color {
    color: #AEAEAE;
}

.font-size-medium {
    font-size: 1.3rem;
}

.tmdb-logo {
    width: 20%;
    height: 20%;
    margin-top: 0.5rem;
}